<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>购物车</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/proList.css" />
		<script src="js/fun.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--------------------------------------cart--------------------->
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fls"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fh clearfix" id="top1">
						<p class="fl">
							<a href="login.html" id="login">登录</a>
							<a href="reg.html" id="reg">注册</a>
						</p>
						<form >

						</form>
						<div class="btn fl clearfix">
							<a href="mygxin.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott" style="margin-top: -15px">

					<li><a href="index.html" style="font-weight: bold;font-size: 18px">首页</a></li>
					<li>
						<a href="#" style="font-weight: 500;font-size: 18px">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="flowerDer.html?classify=1">
									<dl>
										<dt><img src="img/Tit1.png"/></dt>
										<dd>餐厅凳椅</dd>
									</dl>
								</a>
								<a href="flowerDer.html?classify=2">
									<dl>
										<dt><img src="img/Tit2.png"/></dt>
										<dd>布艺沙发</dd>
									</dl>
								</a>
								<a href="perfume.html?classify=3">
									<dl>
										<dt><img src="img/Tit3.png"/></dt>
										<dd>床</dd>
									</dl>
								</a>
								<a href="perfume.html?classify=4">
									<dl>
										<dt><img src="img/Tit4.png"/></dt>
										<dd>卧室储物</dd>
									</dl>
								</a>
								<a href="idea.html?classify=5">
									<dl>
										<dt><img src="img/Tit5.png"/></dt>
										<dd>茶几边桌</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=1" style="font-weight: 500;font-size: 18px">餐厅凳椅</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_1_1.png"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_2_1.png"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_3_1.png"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_4_1.png"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=2" style="font-weight: 500;font-size: 18px">卧室储物</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_1_1.PNG"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_2_1.PNG"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_3_1.PNG"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_4_1.PNG"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a href="perfume.html?classify=3" style="font-weight: 500;font-size: 18px">居家软床</a></li>
					<li><a href="perfume.html?classify=4" style="font-weight: 500;font-size: 18px">卧室储物</a></li>
					<li><a href="idea.html?classify=5" style="font-weight: 500;font-size: 18px">茶几边桌</a></li>
				</ul>
			</div>
		</div>
		<div class="cart mt">
			<!-----------------logo------------------->
			<!--<div class="logo">
				<h1 class="wrapper clearfix">
					<a href="index.html"><img class="fl" src="img/temp/logo.png"></a>
					<img class="top" src="img/temp/cartTop01.png">
				</h1>
			</div>-->
			<!-----------------site------------------->
			<div class="site">
				<p class=" wrapper clearfix">
					<span class="fl" style="color: #563D7C;font-weight: 500;font-size: 16px;">购物车</span>
					<img class="top" src="img/temp/cartTop01.png">
					<a href="index.html" class="fr" style="color: #563D7C;font-weight: 500;font-size: 16px;">继续购物&gt;</a>
				</p>
			</div>
			<!-----------------table------------------->
			<div class="table wrapper">
				<div class="tr">
					<div style="color: white;font-size: 14px;font-weight: 500">商品</div>
					<div style="color: white;font-size: 14px;font-weight: 500">单价</div>
					<div style="color: white;font-size: 14px;font-weight: 500">数量</div>
					<div style="color: white;font-size: 14px;font-weight: 500">小计</div>
					<div style="color: white;font-size: 14px;font-weight: 500">操作</div>
				</div>
				<div id="container">

				</div>





				<div class="goOn">空空如也~<a href="index.html">去逛逛</a></div>
				<div class="tr clearfix">
					<label class="fl">
						<input class="checkAll" type="checkbox"/>
						<span></span>
					</label>
					<p class="fl">
						<a  style="color: white;font-size: 14px;font-weight: 500">全选</a>
						<a href="#" class="del" style="color: white;font-size: 14px;font-weight: 500">删除</a>
					</p>
					<p class="fr">
						<span style="color: white;font-size: 14px;font-weight: 500">共<small id="sl">0</small >件商品</span>
						<span style="color: white;font-size: 14px;font-weight: 500">合计:&nbsp;<small id="all">￥0.00</small></span>
						<a href="order.html" class="count" style="color: white;font-size: 14px;font-weight: 500">结算</a>
					</p>
				</div>
			</div>
		</div>
		<div class="mask"></div>
		<div class="tipDel">
			<p>确定要删除该商品吗？</p>
			<p class="clearfix">
				<a class="fl cer" href="#" >确定</a>
				<a class="fr cancel" href="#">取消</a>
			</p>
		</div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl>
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">

				</div>
			</div>
			<p class="dibu">企鹅家居&copy;2018-2020公司版权所有 京ICP备080100-44备0000111000号<br />
				违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，均属原创，侵权必究！</p>
		</div>
		<!----------------mask------------------->
		<div class="mask"></div>
		<!-------------------mask内容------------------->
		<div class="proDets">
			<img class="off" src="img/temp/off.jpg" />
			<div class="proCon clearfix">
				<div class="proImg fr">
					<img class="list" src="img/temp/proDet.jpg"  />
					<div class="smallImg clearfix">
						<img src="img/temp/proDet01.jpg" data-src="img/temp/proDet01_big.jpg">
						<img src="img/temp/proDet02.jpg" data-src="img/temp/proDet02_big.jpg">
						<img src="img/temp/proDet03.jpg" data-src="img/temp/proDet03_big.jpg">
						<img src="img/temp/proDet04.jpg" data-src="img/temp/proDet04_big.jpg">
					</div>
				</div>
				<div class="fl">
					<div class="proIntro change">
						<p>颜色分类</p>
						<div class="smallImg clearfix">
							<p class="fl on"><img src="img/temp/prosmall01.jpg" alt="白瓷花瓶+20支快乐花" data-src="img/temp/proBig01.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall02.jpg" alt="白瓷花瓶+20支兔尾巴草" data-src="img/temp/proBig02.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall03.jpg" alt="20支快乐花" data-src="img/temp/proBig03.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall04.jpg" alt="20支兔尾巴草" data-src="img/temp/proBig04.jpg"></p>
						</div>
					</div>
					<div class="changeBtn clearfix">
						<a href="#2" class="fl"><p class="buy" >确认</p></a>
						<a href="#2" class="fr"><p class="cart">取消</p></a>
					</div>
				</div>
			</div>
		</div>
		<div class="pleaseC">
			<p>请选择宝贝</p>
			<img class="off" src="img/temp/off.jpg" />
		</div>
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/pro.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cart.js" type="text/javascript" charset="utf-8"></script>
	</body>



	<script>
		var user_id=getCookie("id");


        var g_itemList = [];
        jQuery(document).ready(function(){
            $.ajax({
                //ajax请求头
                type:"GET",
                url:"http://localhost:8090/order/shopping",
                data:{
                    "user_id":user_id,
					"ifdone":0
                },
                success:function (data) {
                    if(data.status == "success"){

                        g_itemList = data.data;
						reloadDom();
                    }else{
                        alert("获取商品信息失败，原因为" + data.data.errMsg);
                    }
                },
                fail:function (data) {
                    alert("获取商品信息失败，原因为"+data.responseText);
                }
            });
        });

        function reloadDom(){
            for(var i = 0; i < g_itemList.length; i++){
                var itemVO = g_itemList[i];
                var i_color;
				if(itemVO.i_color===1){
                    i_color="晨曦白";
				}else if(itemVO.i_color===2){
                    i_color="墨玉黑";
				}else if(itemVO.i_color===3){
                    i_color="珊瑚红";
                }else if(itemVO.i_color===4){
                    i_color="薄荷蓝";
                }
                var sum_price=itemVO.amount*itemVO.item.price;
                
                var dom="<div class='th' id='"+itemVO.order_id+"'><div class='pro cleearfix'><label class='fl'><input type='checkbox'/><span></span></label><a class='fl' href='proDetail.html?item_id="+itemVO.item.id+"'><dl class='clearfix'><dt class='fl'><img src='img/item/"+itemVO.item.p1+"' style='width: 120px;height: 120px'></dt><dd class='fl'><p>"+itemVO.item.name+"</p><p>颜色分类</p><p>"+i_color+"</p></dd></dl></a></div><div class='price'>￥"+itemVO.item.price+"</div><div class='number'><span class='fl'>"+itemVO.amount+"</span></div><div class='price sAll'>￥"+sum_price+"</div><div class='price'><a class='del' href='#2'>删除</a></div></div>"

				$("#container").append($(dom));

            }


            //计算总价
            function jisuan(){
                var all=0;
                var len =$(".th input[type='checkbox']:checked").length;
                if(len==0){
                    $("#all").text('￥'+parseFloat(0).toFixed(2));
                }else{
                    $(".th input[type='checkbox']:checked").each(function(){
                        //获取小计里的数值
                        var sAll = $(this).parents(".pro").siblings('.sAll').text().substring(1);
                        //累加
                        all+=parseFloat(sAll);
                        //赋值
                        $("#all").text('￥'+all.toFixed(2));
                    })
                }

            }
            //计算总共几件商品
            function zg(){
                var zsl = 0;
                var index = $(".th input[type='checkbox']:checked").parents(".th").find(".number span");
                var len =index.length;
                if(len==0){
                    $("#sl").text(0);
                }else{
                    index.each(function(){
                        zsl+=parseInt($(this).text());
                        $("#sl").text(zsl);
                    })
                }
                if($("#sl").text()>0){
                    $(".count").css("background","darkseagreen");
                }else{
                    $(".count").css("background","#8e8e8e");
                }
            }
            /*****************商品全选***********************/
            $("input[type='checkbox']").on('click',function(){
                var sf = $(this).is(":checked");
                var sc= $(this).hasClass("checkAll");
                if(sf){
                    if(sc){
                        $("input[type='checkbox']").each(function(){
                            this.checked=true;
                        });
                        zg();
                        jisuan();
                    }else{
                        $(this).checked=true;
                        var len = $("input[type='checkbox']:checked").length;
                        var len1 = $("input").length-1;
                        if(len==len1){
                            $("input[type='checkbox']").each(function(){
                                this.checked=true;
                            });
                        }
                        zg();
                        jisuan();
                    }
                }else{
                    if(sc){
                        $("input[type='checkbox']").each(function(){
                            this.checked=false;
                        });
                        zg();
                        jisuan();
                    }else{
                        $(this).checked=false;
                        var len = $(".th input[type='checkbox']:checked").length;
                        var len1 = $("input").length-1;
                        if(len<len1){
                            $('.checkAll').attr("checked",false);
                        }
                        zg();
                        jisuan();
                    }
                }

            });


            var order_ids=[];
            order_ids= $(".th input[type='checkbox']:checked").parent(".th").attr("id");
















            /****************************proDetail 加入购物车*******************************/
            $(".btns .cart").click(function(){
                if($(".categ p").hasClass("on")){
                    var num = parseInt($(".num span").text());
                    var num1 = parseInt($(".goCart span").text());
                    $(".goCart span").text(num+num1);
                }
            });

            //删除购物车商品
            $('.del').click(function(){
                //单个删除
                if($(this).parent().parent().hasClass("th")){
                    $(".mask").show();
                    $(".tipDel").show();
                    index = $(this).parents(".th").index()-1;
                    $('.cer').click(function(){
                        $(".mask").hide();
                        $(".tipDel").hide();
                        $(".th").eq(index).remove();
                        $('.cer').off('click');
                        if($(".th").length==0){
                            $(".table .goOn").show();
                        }
                    })
                }else{
                    //选中多个一起删除
                    if($(".th input[type='checkbox']:checked").length==0){
                        $(".mask").show();
                        $(".pleaseC").show();
                    }
                    else{
                        $(".mask").show();
                        $(".tipDel").show();
                        $('.cer').click(function(){
                            $(".th input[type='checkbox']:checked").each(function(j){
                                index = $(this).parents('.th').index()-1;
                                $(".th").eq(index).remove();
                                if($(".th").length==0){
                                    $(".table .goOn").show();
                                }
                            })
                            $(".mask").hide();
                            $(".tipDel").hide();
                            zg();
                            jisuan();
                        })
                    }
                }
            })
            $('.cancel').click(function(){
                $(".mask").hide();
                $(".tipDel").hide();
            })

		}


	</script>
</html>
