<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>卧室储物</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/proList.css"/>
        <script src="js/fun.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fls"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fh clearfix" id="top1">
						<p class="fl">
							<a href="login.html" id="login">登录</a>
							<a href="reg.html" id="reg">注册</a>
						</p>


						<div class="btn fl clearfix">
							<a href="mygxin.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">

					<li><a href="index.html" style="font-weight: bold;font-size: 18px">首页</a></li>
					<li>
						<a href="#" style="font-weight: 500;font-size: 18px">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="flowerDer.html">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit1.png"/></dt>
										<dd>餐厅凳椅</dd>
									</dl>
								</a>
								<a href="decoration.html">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit2.png"/></dt>
										<dd>卧室储物</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit3.png"/></dt>
										<dd>居家软床</dd>
									</dl>
								</a>
								<a href="perfume.html">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit4.png"/></dt>
										<dd>布艺沙发</dd>
									</dl>
								</a>
								<a href="idea.html">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit5.png"/></dt>
										<dd>茶几边桌</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html" style="font-weight: 500;font-size: 18px">餐厅凳椅</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="#">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_1_1.png"/></dt>
										<dd>椅子名称</dd>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_2_1.png"/></dt>
										<dd>椅子名称</dd>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_3_1.png"/></dt>
										<dd>椅子名称</dd>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_4_1.png"/></dt>
										<dd>椅子名称</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="decoration.html" style="font-weight: 500;font-size: 18px">卧室储物</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="#">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_1_1.PNG"/></dt>
										<dd>柜子名称</dd>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_2_1.PNG"/></dt>
										<dd>柜子名称</dd>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_3_1.PNG"/></dt>
										<dd>柜子名称</dd>
									</dl>
								</a>
								<a href="#">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_4_1.PNG"/></dt>
										<dd>柜子名称</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a href="paint.html" style="font-weight: 500;font-size: 18px">居家软床</a></li>
					<li><a href="perfume.html" style="font-weight: 500;font-size: 18px">布艺沙发</a></li>
					<li><a href="idea.html" style="font-weight: 500;font-size: 18px">茶几边桌</a></li>
				</ul>
			</div>
		</div>
		<!------------------------------banner------------------------------>
		<div class="banner">
			<a href="#"><img src="img/temp/bzbig.jpg"/></a>
		</div>
		<!-------------------current---------------------->
		<div class="current">
			<div class="wrapper clearfix">
				<h3 class="fl" style="font-size: 14px;font-weight: 700">布艺沙发</h3>
				<div class="fr choice">
					<p class="default">排序方式</p>
					<ul class="select">
						<li>新品上市</li>
						<li>销量从高到低</li>
						<li>销量从低到高</li>
						<li>价格从高到低</li>
						<li>价格从低到高</li>
					</ul>
				</div>
			</div>
		</div>
		<!----------------proList------------------------->
		<ul class="proList wrapper clearfix">




		</ul>
		<!----------------mask------------------->
		<div class="mask"></div>
		<!-------------------mask内容------------------->
		<div class="proDets">
			<img class="off" src="img/temp/off.jpg" />
			<div class="tit clearfix">
				<h4 class="fl" id="name"></h4>
				<span class="fr" id="price"></span>
			</div>
			<div class="proCon clearfix">
				<div class="proImg fl">
					<img class="list" id="p1_Url_1" style="width:360px;height:360px;" />
					<div class="smallImg clearfix">
						<img id="p1_Url" >
						<img id="p2_Url" >
						<img id="p3_Url" >
						<img id="p4_Url" >
					</div>
				</div>
				<div class="fr">
					<div class="proIntro">
						<p>颜色分类</p>
						<div class="smallImg clearfix categ">
							<p class="fl"><img src="img/temp/prosmall01.jpg" alt="白瓷花瓶+20支快乐花" data-src="img/temp/proBig01.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall02.jpg" alt="白瓷花瓶+20支兔尾巴草" data-src="img/temp/proBig02.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall03.jpg" alt="20支快乐花" data-src="img/temp/proBig03.jpg"></p>
							<p class="fl"><img src="img/temp/prosmall04.jpg" alt="20支兔尾巴草" data-src="img/temp/proBig04.jpg"></p>
						</div>
						<p>数量</p>
						<div class="num clearfix">
							<img class="fl sub" src="img/temp/sub.jpg">
							<span class="fl" contentEditable="true">1</span>
							<img class="fl add" src="img/temp/add.jpg">
							<p class="please fl">请选择商品属性!</p>
						</div>
					</div>
					<div class="btns clearfix">
						<a href="#2"><p class="buy fl">立即购买</p></a>
						<a href="#2"><p class="cart fr">加入购物车</p></a>
					</div>
				</div>
			</div>
			<a class="more" id="itemID">查看更多细节</a>
		</div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl class="goCart">
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
				<span>1</span>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<div class="msk"></div>	
		<!--footer-->
		<div class="footer">

			<p class="dibu">企鹅家居&copy;2018-2020公司版权所有 京ICP备080100-44备0000111000号<br />
				违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，均属原创，侵权必究！</p>
		</div>
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/nav.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/pro.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cart.js" type="text/javascript" charset="utf-8"></script>
	</body>

	<script>

        //定义全局商品数组信息
        var g_itemList = [];
        jQuery(document).ready(function(){
            $.ajax({
                //ajax请求头
                type:"GET",
                url:"http://localhost:8090/item/list",
                data:{
                    "classify":getParam("classify"),
                },
                success:function (data) {
                    if(data.status === "success"){
                         alert("获取商品信息成功" + data.status);
                        g_itemList = data.data;
                        reloadDom();
                    }else{
                        alert("获取商品信息失败，原因为" + data.data.errMsg);
                    }
                },
                fail:function (data) {
                    alert("获取商品信息失败，原因为"+data.responseText);
                }
            });
        });

        function reloadDom(){
            for(var i = 0; i < g_itemList.length; i++){
                var itemVO = g_itemList[i];
                var dom="<li  id="+i+" ><a href='proDetail.html?item_id="+itemVO.id+"'><dl><dt><img src='img/item/"+itemVO.p1+"'></dt><dd>"+itemVO.name+"</dd><dd>￥"+itemVO.price+"</dd></dl></a></li>"

                $(".proList").append($(dom));

            }

            $(".proList li").on('mouseenter',function(){
                var html="";
                html = '<button type="button" class="quick">view</button>';
                $(this).css('border','1px solid #563D7C').append(html);
                $(".quick").on('click',function(){

                    var j = $(this).parent().attr("id");
                    var itemVO2 = g_itemList[j];
                    $("#itemID").attr("href","proDetail.html?item_id="+itemVO2.id);
                    $("#name").text(itemVO2.name);
                    $("#description").text(itemVO2.description);
                    $("#price").text("￥"+itemVO2.price);
                    $("#stock").text(itemVO2.stock);
                    $("#sales").text(itemVO2.sales);
                    $("#p1_Url_1").attr("src", "img/item/"+itemVO2.p1);
                    $("#p1_Url").attr("src", "img/item/"+itemVO2.p1);
                    $("#p2_Url").attr("src", "img/item/"+itemVO2.p2);
                    $("#p3_Url").attr("src", "img/item/"+itemVO2.p3);
                    $("#p4_Url").attr("src", "img/item/"+itemVO2.p4);
                    $(".mask").show();
                    $(".proDets").show();
                });
                $(".btns .cart").click(function(){
                    if($(".categ p").hasClass("on")){
                        $(".proDets").hide();
                        $(".mask").hide();
                    }
                });
            });
            $(".proList li").on('mouseleave',function(){
                $(this).find("button").remove();
                $(this).css('border','1px solid #fff');
            });
            //关闭按钮
            $(".off").click(function(){
                $(".mask").hide();
                $(".proDets").hide();
                $(".pleaseC").hide();
            });
        }


	</script>



</html>
