<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>我的订单</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/myorder.css" />
		<script src="js/fun.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fls"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fh clearfix" id="top1">
						<p class="fl">
							<a href="mygrxx.html" id="login"></a>
							<a href="login.html" id="reg">退出登录</a>
						</p>
						<form>

						</form>
						<div class="btn fl clearfix">
							<a href="mygrxx.html"><img src="img/grzx.png"/></a>
							<a  class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott" style="margin-top: -15px">

					<li><a href="index.html" style="font-weight: bold;font-size: 18px">首页</a></li>
					<li>
						<a  style="font-weight: 500;font-size: 18px">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="flowerDer.html?classify=1">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit1.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">餐厅凳椅</dd>
									</dl>
								</a>
								<a href="flowerDer.html?classify=2">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit2.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">卧室储物</dd>
									</dl>
								</a>
								<a href="perfume.html?classify=3">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit3.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">居家软床</dd>
									</dl>
								</a>
								<a href="perfume.html?classify=4">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit4.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">布艺沙发</dd>
									</dl>
								</a>
								<a href="idea.html?classify=5">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit5.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">装饰边桌</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=1" style="font-weight: 500;font-size: 18px">餐厅凳椅</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_1_1.png"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_2_1.png"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_3_1.png"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_4_1.png"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=2" style="font-weight: 500;font-size: 18px">卧室储物</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_1_1.PNG"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_2_1.PNG"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_3_1.PNG"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_4_1.PNG"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a href="perfume.html?classify=3" style="font-weight: 500;font-size: 18px">居家软床</a></li>
					<li><a href="perfume.html?classify=4" style="font-weight: 500;font-size: 18px">布艺沙发</a></li>
					<li><a href="idea.html?classify=5" style="font-weight: 500;font-size: 18px">装饰边桌</a></li>
				</ul>
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="#" class="fl" style="font-size: 14px;font-weight: 700">首页</a>
				<span>/</span>
				<a href="myorderq.html" class="fl" style="font-size: 14px;font-weight: 700">我的交易</a>
				<span>/</span>
				<a href="myorderq.html" class="on" style="font-size: 14px;font-weight: 700">我的订单</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img id="img1" style="width: 80px;height: 80px;border-radius:45px" src="./img/QQ.jpg"/></a>
						<p class="clearfix"><span class="fl" id="name1" style="font-size: 20px;color: #563D7C;float: none;"></span></p>
					</h3>
					<div>
						<h4 style="font-weight: bold;color:#563D7C;font-size: 16px;">我的交易</h4>
						<ul>
							<li><a href="cart.html" style="font-size: 14px;color:#563D7C ">我的购物车</a></li>
							<li><a href="myorderq.html" style="color:darkseagreen;font-weight: bold;">我的订单</a></li>
							<li><a href="myprod.html">评价晒单</a></li>
						</ul>
						<h4 style="font-weight: bold;color:#563D7C;font-size: 16px;">个人中心</h4>
						<ul>
							<li><a href="mygxin.html">我的中心</a></li>
							<li><a href="address.html">地址管理</a></li>
						</ul>
						<h4 style="font-weight: bold;color:#563D7C;font-size: 16px;">账户管理</h4>
						<ul>
							<li><a href="mygrxx.html" >个人信息</a></li>
							<li><a href="remima.html">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<div class="my clearfix">
						<h2 class="fl">我的订单</h2>

					</div>
					<div class="dlist clearfix">
						<ul class="fl clearfix" id="wa">
							<li class="on"><a href="#2">全部有效订单</a></li>
							<li><a href="#2">待支付</a></li>
							<li><a href="#2l">待收货</a></li>
							<li><a href="#2">已关闭</a></li>
						</ul>
						<form action="#" method="get" class="fr clearfix">
							<input type="text" name=""  value="" placeholder="请输入商品名称、订单号" />
							<input type="button" name=""  value="" />
						</form>
					</div>


					<div id="container">

					</div>





					<div class="fenye clearfix">
						<a href="#"><img src="img/zuo.jpg"/></a>
						<a href="#">1</a>
						<a href="#"><img src="img/you.jpg"/></a>
					</div>
				</div>
			</div>
		</div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl>
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">
			<p class="dibu">企鹅家居&copy;2018-2020公司版权所有 京ICP备080100-44备0000111000号<br />
				违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，均属原创，侵权必究！</p>
		</div>
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/user.js" type="text/javascript" charset="utf-8"></script>
	</body>



<script>
    var user_id=getCookie("id");
    // var user_id=123;
    var user_name="吴佳星";

    var g_itemList = [];
    jQuery(document).ready(function(){
        $.ajax({
            //ajax请求头
            type:"GET",
            url:"http://localhost:8090/order/show",
            data:{
                "user_id":user_id,
            },
            success:function (data) {
                if(data.status == "success"){
                    g_itemList = data.data;
                    reloadDom();
                }else{
                    alert("获取商品信息失败，原因为" + data.data.errMsg);
                }
            },
            fail:function (data) {
                alert("获取商品信息失败，原因为"+data.responseText);
            }
        });
    });


    function reloadDom() {
        for (var i = 0; i < g_itemList.length; i++) {
            var itemVO = g_itemList[i];
            var dom;

            var sum_price=itemVO.amount*itemVO.item.price;

            if(itemVO.ifdone==0){
                dom ='<div class="dkuang deng">' +
                    '<p class="one">待支付</p>' +
                    '<div class="word clearfix">' +
                    '<ul class="fl clearfix">' +
                    '<li>2016年12月1日 18:53</li>' +
                    '<li>'+user_name+'</li>' +
                    '<li>订单号:'+itemVO.order_id+'</li>' +
                    '<li>在线支付</li>' +
                    '</ul>' +
                    '<p class="fr">订单金额：<span>'+sum_price+'</span>元</p>' +
                    '</div>' +
                    '<div class="shohou clearfix">' +
                    '<a href="#" class="fl"><img src="img/item/'+itemVO.item.p1+'" style="height: 69px;width: 69px"/></a>' +
                    '<p class="fl"><a href="#">'+itemVO.item.name+'</a><a href="#">¥'+itemVO.item.price+'×'+itemVO.amount+'</a></p>' +
                    '<p class="fr">' +
                    '<a href="order.html">立即支付</a>' +
                    '<a href="orderxq.html">订单详情</a>' +
                    '</p>' +
                    '</div>' +
                    '</div>';
			}else if(itemVO.ifdone==1){
                dom = '<div class="dkuang clearfix deng">' +
                    '<p class="one fl">待收货</p>' +
                    '<div  class="clearfix">' +
                    '<div class="fl vewwl">' +
                    '<a href="wuliu.html" class="ckwl">查看物流</a>' +
                    '<div class="wuliu">' +
                    '<h4>圆通速递：858888888888888</h4>' +
                    '<ul>' +
                    '<li>' +
                    '<p>妥投投递并签收，已签收。签收人：本人签收</p>' +
                    '<p>2016-12-03 17:30:00</p>' +
                    '</li>' +
                    '<li>' +
                    '<p>深圳市南油速递营销部安排投递（投递员姓名：六六六。联系电话：14243452522;</p>' +
                    '<p>2016-12-03 08:50:00</p>' +
                    '</li>' +
                    '<li>' +
                    '<p>到达广东省邮政速递物流有限公司深圳航空邮件处理中心处理中心（经转）</p>' +
                    '<p>2016-12-03 02:20:00</p>' +
                    '</li>' +
                    '<li>以上为最新跟踪信息<a href="wuliu.html">查看全部</a></li>' +
                    '</ul>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="word clearfix">' +
                    '<ul class="fl clearfix">' +
                    '<li>2016年12月1日 18:53</li>' +
                    '<li>'+user_name+'</li>' +
                    '<li>订单号:'+itemVO.order_id+'</li>' +
                    '<li>在线支付</li>' +
                    '</ul>' +
                    '<p class="fr">订单金额：<span>'+sum_price+'</span>元</p>' +
                    '</div>' +
                    '<div class="shohou clearfix">' +
                    '<a href="#" class="fl"><img src="img/item/'+itemVO.item.p1+'" style="height: 69px;width: 69px"/></a>' +
                    '<p class="fl"><a href="#">'+itemVO.item.name+'</a><a href="#">¥'+itemVO.item.price+'×'+itemVO.amount+'</a></p>' +
                    '<p class="fr">' +
                    '<a href="#">确认收货</a>' +
                    '<a href="orderxq.html">订单详情</a>' +
                    '</p>' +
                    '</div>' +
                    '</div>';
			}else{
                dom = "<p>暂无订单</p>>"
			}


            $("#container").append($(dom));

        }

        //	查看物流
        $(".vewwl").hover(function(){
            $(this).children(".wuliu").fadeIn(100);
        },function(){
            $(this).children(".wuliu").fadeOut(100);
        });

        //	我的订单tab切换
        $("#wa li").click(function(){
            $(this).addClass("on").siblings().removeClass("on");
            var txt1=$(this).find("a").text();
            $(".dkuang").find("p.one").each(function(){
                var txt2=$(this).text();
                if(txt1==txt2){
                    $(this).parent(".dkuang").show();
                }else{
                    $(this).parent(".dkuang").hide();
				}
                $("#wa li").eq(0).click(function(){
                    $(".dkuang").show();
                })
            });
        });
    }
    //用户名同步
    var username = getCookie('name');
    $("#name1").html(username);
    //头像同步
    var path = getCookie("img_path");
    var obj = document.getElementById("img1");
    obj.setAttribute("src",path);



</script>
</html>
