<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>评价晒单</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/myorder.css" />
		<script src="js/fun.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fls"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fh clearfix" id="top1">
						<p class="fl">
							<a href="mygrxx.html" id="login"></a>
							<a href="login.html" id="reg">退出登录</a>
						</p>
						<form>

						</form>
						<div class="btn fl clearfix">
							<a href="mygrxx.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott" style="margin-top: -15px">

					<li><a href="index.html" style="font-weight: bold;font-size: 18px">首页</a></li>
					<li>
						<a  style="font-weight: 500;font-size: 18px">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="flowerDer.html?classify=1">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit1.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">餐厅凳椅</dd>
									</dl>
								</a>
								<a href="flowerDer.html?classify=2">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit2.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">卧室储物</dd>
									</dl>
								</a>
								<a href="perfume.html?classify=3">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit3.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">居家软床</dd>
									</dl>
								</a>
								<a href="perfume.html?classify=4">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit4.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">布艺沙发</dd>
									</dl>
								</a>
								<a href="idea.html?classify=5">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit5.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">装饰边桌</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=1" style="font-weight: 500;font-size: 18px">餐厅凳椅</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_1_1.png"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_2_1.png"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_3_1.png"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_4_1.png"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=2" style="font-weight: 500;font-size: 18px">卧室储物</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_1_1.PNG"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_2_1.PNG"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_3_1.PNG"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_4_1.PNG"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a href="perfume.html?classify=3" style="font-weight: 500;font-size: 18px">居家软床</a></li>
					<li><a href="perfume.html?classify=4" style="font-weight: 500;font-size: 18px">布艺沙发</a></li>
					<li><a href="idea.html?classify=5" style="font-weight: 500;font-size: 18px">装饰边桌</a></li>
				</ul>
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="index.html" class="fl" style="font-size: 14px;font-weight: 700">首页</a>
				<span>/</span>
				<a href="myorderq.html" class="fl" style="font-size: 14px;font-weight: 700">我的交易</a>
				<span>/</span>
				<a href="myprod.html" class="on" style="font-size: 14px;font-weight: 700">待评价商品</a>
			</div>
		</div>
		
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img id="img1" style="width: 80px;height: 80px;border-radius:45px" src="./img/QQ.jpg"/></a>
						<p class="clearfix"><span class="fl" id="name1" style="font-size: 20px;color: #563D7C;float: none;"></span></p>
					</h3>
					<div>
						<h4 style="font-weight: bold;color:#563D7C;font-size: 16px;">我的交易</h4>
						<ul>
							<li><a href="cart.html" style="font-size: 14px;color:#563D7C ">我的购物车</a></li>
							<li><a href="myorderq.html">我的订单</a></li>
							<li><a href="myprod.html" style="color:darkseagreen;font-weight: bold;">评价晒单</a></li>
						</ul>
						<h4 style="font-weight: bold;color:#563D7C;font-size: 16px;">个人中心</h4>
						<ul>
							<li><a href="mygxin.html">我的中心</a></li>
							<li><a href="address.html">地址管理</a></li>
						</ul>
						<h4 style="font-weight: bold;color:#563D7C;font-size: 16px;">账户管理</h4>
						<ul>
							<li><a href="mygrxx.html"  >个人信息</a></li>
							<li><a href="remima.html">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<div class="my clearfix">
						<h2 class="fl">商品评价</h2>
					</div>
					<div class="dlist">
						<ul class="clearfix" id="pro">
							<li class="on"><a href="#2">待评价商品</a></li>
							<li><a href="#2">已评价商品</a></li>
							<li><a href="#2">评价失效商品</a></li>
						</ul>
					</div>
					<div class="sx clearfix">
						<div class="clearfix">
							<dl class="fl">
								<dt><a href="#"><img src="img/nav3.jpg"/></a></dt>
								<dd><a href="#">家用创意壁挂  釉下彩复古</a></dd>
								<dd>¥199.00</dd>
								<dd>16000人评价</dd>
								<dd><a href="#2">评价</a></dd>
							</dl>
							<dl class="fl">
								<dt><a href="#"><img src="img/nav3.jpg"/></a></dt>
								<dd><a href="#">家用创意壁挂  釉下彩复古</a></dd>
								<dd>¥199.00</dd>
								<dd>16000人评价</dd>
								<dd><a href="#2">评价</a></dd>
							</dl>
						</div>
						<div class="clearfix">
							<dl class="fl">
								<dt><a href="#"><img src="img/nav3.jpg"/></a></dt>
								<dd><a href="#">家用创意壁挂  釉下彩复古</a></dd>
								<dd>¥199.00</dd>
								<dd>16000人评价</dd>
								<dd><a href="#2">查看评价</a></dd>							
							</dl>
						</div>
						<div class="clearfix" >
							<dl class="fl">
								<dt><a href="#"><img src="img/nav3.jpg"/></a></dt>
								<dd><a href="#">家用创意壁挂  釉下彩复古</a></dd>
								<dd>¥199.00</dd>
								<dd>16000人评价</dd>
								<dd><a href="#2">暂不能评价</a></dd>							
							</dl>
						</div>
					</div>
				</div>
			</div>
		</div>

			<!--<dl class="fl">
								<dt><a href="#"><img src="img/nav3.jpg"/></a></dt>
								<dd><a href="#">家用创意壁挂  釉下彩复古</a></dd>
								<dd>¥199.00</dd>
								<dd>16000人评价</dd>
								<dd><a href="#">待评价</a></dd>
							</dl>
							<dl class="fl">
								<dt><a href="#"><img src="img/nav3.jpg"/></a></dt>
								<dd><a href="#">家用创意壁挂  釉下彩复古</a></dd>
								<dd>¥199.00</dd>
								<dd>16000人评价</dd>
								<dd><a href="#">待评价</a></dd>
							</dl>-->

			<!--遮罩-->
			<div class="mask"></div>
			<!--评价弹框-->
			<div class="pj">
				<div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png"/></a></div>
				<h3>商品评分</h3>
				<form action="#" method="get">
					<div class="clearfix">
						<p class="fl">请打分：</p>
						<p class="fl" id="xin">
							<a href="#2"><img src="img/xin.png"/></a>
							<a href="#2"><img src="img/xin.png"/></a>
							<a href="#2"><img src="img/xin.png"/></a>
							<a href="#2"><img src="img/xin.png"/></a>
							<a href="#2"><img src="img/xin.png"/></a>
						</p>
					</div>
					<textarea name="" rows="" cols="" placeholder="请输入评价" ></textarea>
					<div class="bc">
						<input type="button" value="保存"  />
						<input type="button" value="取消" />
					</div>
				</form>
			</div>
			<!--查看评价-->
			<div class="chak">
				<div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png"/></a></div>
				<h3>商品评分</h3>
				<form action="#" method="get">
					<div class="clearfix">
						<p class="fl">请打分：</p>
						<p class="fl" id="xin">
							<a href="#2"><img src="img/hxin.png"/></a>
							<a href="#2"><img src="img/hxin.png"/></a>
							<a href="#2"><img src="img/hxin.png"/></a>
							<a href="#2"><img src="img/hxin.png"/></a>
							<a href="#2"><img src="img/hxin.png"/></a>
						</p>
					</div>
					<textarea name="" rows="" cols="" placeholder="请输入评价" >挺好的挺好的挺好的~五分好评</textarea>
					<div class="bc">
						<input type="button" value="保存"  />
						<input type="button" value="取消" />
					</div>
				</form>
			</div>
			
			
			
			
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl>
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">

			<p class="dibu">企鹅家居&copy;2018-2020公司版权所有 京ICP备080100-44备0000111000号<br />
				违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，均属原创，侵权必究！</p>
		</div>
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/user.js" type="text/javascript" charset="utf-8"></script>
	</body>
<script>
    //用户名同步
    var username = getCookie('name');
    $("#name1").html(username);
    //头像同步
    var path = getCookie("img_path");
    var obj = document.getElementById("img1");
    obj.setAttribute("src",path);


</script>
</html>
