<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>ok</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/proList.css" />
		<script src="js/fun.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!----------------------------------------order------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fls"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fh clearfix" id="top1">
						<p class="fl">
							<a href="mygrxx.html" id="login"></a>
							<a href="login.html" id="reg">退出登录</a>
						</p>
						<form>

						</form>
						<div class="btn fl clearfix">
							<a href="mygrxx.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott" style="margin-top: -15px">

					<li><a href="index.html" style="font-weight: bold;font-size: 18px">首页</a></li>
					<li>
						<a  style="font-weight: 500;font-size: 18px">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="flowerDer.html?classify=1">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit1.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">餐厅凳椅</dd>
									</dl>
								</a>
								<a href="flowerDer.html?classify=2">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit2.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">卧室储物</dd>
									</dl>
								</a>
								<a href="paint.html">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit3.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">居家软床</dd>
									</dl>
								</a>
								<a href="perfume.html">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit4.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">布艺沙发</dd>
									</dl>
								</a>
								<a href="idea.html?classify=5">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit5.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">装饰边桌</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=1" style="font-weight: 500;font-size: 18px">餐厅凳椅</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_1_1.png"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_2_1.png"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_3_1.png"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_4_1.png"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=2" style="font-weight: 500;font-size: 18px">卧室储物</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_1_1.PNG"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_2_1.PNG"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_3_1.PNG"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_4_1.PNG"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a href="paint.html" style="font-weight: 500;font-size: 18px">居家软床</a></li>
					<li><a href="perfume.html" style="font-weight: 500;font-size: 18px">布艺沙发</a></li>
					<li><a href="idea.html?classify=5" style="font-weight: 500;font-size: 18px">装饰边桌</a></li>
				</ul>
			</div>
		</div>
		<div class="order mt cart">
			<div class="site">
				<p class="wrapper clearfix">
					<span class="fl">支付成功</span>
					<img class="top" src="img/temp/cartTop03.png">
				</p>
			</div>
			<p class="ok">支付成功！剩余<span>5</span>秒<a href="myorderq.html">返回订单页</a></p>
		</div>
		<div class="like">
			<h4>猜你喜欢</h4>
			<div class="bottom">
				<div class="hd">
					<span class="prev"><img src="img/temp/prev.png"></span>
					<span class="next"><img src="img/temp/next.png"></span>
				</div>
				<div class="imgCon bd">
					<div class="likeList clearfix">
						<div>
							<a>
								<dl>
									<dt><img src="img/T1.png" style="height: 200px;width: 220px"></dt>
									<dd>诺米拉</dd>
									<dd>￥193</dd>
								</dl>
							</a>
							<a>
								<dl>
									<dt><img src="img/T2.png" style="height: 200px;width: 220px"></dt>
									<dd>科比约恩</dd>
									<dd>￥243</dd>
								</dl>
							</a>
							<a>
								<dl>
									<dt><img src="img/T3.png" style="height: 200px;width: 220px"></dt>
									<dd>瑞吉索</dd>
									<dd>￥584</dd>
								</dl>
							</a>
							<a>
								<dl>
									<dt><img src="img/T4.png" style="height: 200px;width: 220px"></dt>
									<dd>迪拉提</dd>
									<dd>￥367</dd>
								</dl>
							</a>
							<a>
								<dl>
									<dt><img src="img/T5.png" style="height: 200px;width: 220px"></dt>
									<dd>兰德克纳</dd>
									<dd>￥488</dd>
								</dl>
							</a>
						</div>
						<div>
							<a>
								<dl>
									<dt><img src="img/T6.png" style="height: 200px;width: 220px"></dt>
									<dd>艾多弗</dd>
									<dd>￥253</dd>
								</dl>
							</a>
							<a>
								<dl>
									<dt><img src="img/T7.png" style="height: 200px;width: 220px"></dt>
									<dd>利克胡</dd>
									<dd>￥273</dd>
								</dl>
							</a>
							<a>
								<dl>
									<dt><img src="img/T8.png" style="height: 200px;width: 220px"></dt>
									<dd>阿普莱诺</dd>
									<dd>￥593</dd>
								</dl>
							</a>
							<a>
								<dl>
									<dt><img src="img/T9.png" style="height: 200px;width: 220px"></dt>
									<dd>迪拉提</dd>
									<dd>￥643</dd>
								</dl>
							</a>
							<a>
								<dl>
									<dt><img src="img/T10.png" style="height: 200px;width: 220px"></dt>
									<dd>巴斯维金</dd>
									<dd>￥498</dd>
								</dl>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--footer-->
		<div class="footer">
			<div class="top">

			</div>
			<p class="dibu">企鹅家居&copy;2018-2020公司版权所有 京ICP备080100-44备0000111000号<br />
				违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，均属原创，侵权必究！</p>
		</div>
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/pro.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			jQuery(".bottom").slide({titCell:".hd ul",mainCell:".bd .likeList",autoPage:true,autoPlay:false,effect:"leftLoop",autoPlay:true,vis:1});
		</script>
	</body>
</html>
