<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>布艺沙发</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/proList.css"/>
		<script src="js/fun.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fls"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fh clearfix" id="top1">
						<p class="fl">
							<a href="mygrxx.html" id="login"></a>
							<a href="login.html" id="reg">退出登录</a>
						</p>
						<div class="btn fl clearfix">
							<a href="mygrxx.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">

					<li><a href="index.html" style="font-weight: bold;font-size: 18px">首页</a></li>
					<li>
						<a  style="font-weight: 500;font-size: 18px">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="flowerDer.html?classify=1">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit1.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">餐厅凳椅</dd>
									</dl>
								</a>
								<a href="flowerDer.html?classify=2">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit2.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">卧室储物</dd>
									</dl>
								</a>
								<a href="perfume.html?classify=3">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit3.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">居家软床</dd>
									</dl>
								</a>
								<a href="perfume.html?classify=4">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit4.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">布艺沙发</dd>
									</dl>
								</a>
								<a href="idea.html?classify=5">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit5.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">装饰边桌</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=1" style="font-weight: 500;font-size: 18px">餐厅凳椅</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_1_1.png"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_2_1.png"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_3_1.png"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_4_1.png"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=2" style="font-weight: 500;font-size: 18px">卧室储物</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_1_1.PNG"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_2_1.PNG"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_3_1.PNG"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_4_1.PNG"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a href="perfume.html?classify=3" style="font-weight: 500;font-size: 18px">居家软床</a></li>
					<li><a href="perfume.html?classify=4" style="font-weight: 500;font-size: 18px">布艺沙发</a></li>
					<li><a href="idea.html?classify=5" style="font-weight: 500;font-size: 18px">装饰边桌</a></li>
				</ul>
			</div>
		</div>
		<!-----------------banner------------------------------->
		<div class="banner">
			<a href="#"><img src="img/26.png"/></a>
		</div>	
		<!-----------------address------------------------------->
		<!--<div class="address">-->
			<!--<div class="wrapper clearfix">-->
				<!--<a href="index.html">首页</a>-->
				<!--<span>/</span>-->
				<!--<a href="perfume.html" class="on">蜡艺香薰</a>-->
			<!--</div>-->
		<!--</div>-->
		<!-----------------paintCon------------------------------->
		<div class="paintCon" id="container">

		</div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl>
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none;">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<div class="msk"></div>
		<!--footer-->
		<div class="footer">

			<p class="dibu">企鹅家居&copy;2018-2020公司版权所有 京ICP备080100-44备0000111000号<br />
				违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，均属原创，侵权必究！</p>
		</div>
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/nav.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="js/pro.js" type="text/javascript" charset="utf-8"></script>-->
	</body>
	<script>

		var useremail = getCookie('email');
		$(function () {
			$("#login").html(useremail);
		});

		//定义全局商品数组信息
		var g_itemList = [];
		jQuery(document).ready(function(){
			$.ajax({
				//ajax请求头
				type:"GET",
				url:"http://localhost:8090/item/list",
				data:{
					"classify":getParam("classify"),
				},
				success:function (data) {
					if(data.status === "success"){
						g_itemList = data.data;
						reloadDom();
					}else{
						alert("获取商品信息失败，原因为" + data.data.errMsg);
					}
				},
				fail:function (data) {
					alert("获取商品信息失败，原因为"+data.responseText);
				}
			});
		});



		function reloadDom(){

			var html="";
			for(var i = 0; i < g_itemList.length; i++){
				var itemVO = g_itemList[i];

				if(i===0){

					html += '<section class="wrapper">' +
							'<h3><img src="img/temp/tit01.jpg"/></h3>' +
							'<img src="img/idea11.jpg" />' +
							'<div class="paintList">';

				}


				if(i!==0&&i%6===0){
					html += '</div>' +
							'</section>' +
							'<section class="wrapper">' +
							'<h3><img src="img/temp/tit02.jpg"/></h3>' +
							'<img src="img/idea12.jpg" />' +
							'<div class="paintList">';
				}


				html += '<a href="proDetail.html?item_id='+itemVO.id+'">' +
						'<dl>' +
						'<dt><img src="img/item/'+itemVO.p1+'" style="width: 374px;height: 374px"/></dt>' +
						'<dd>'+itemVO.name+'</dd>' +
						'<dd>￥'+itemVO.price+'</dd>' +
						'</dl>' +
						'</a>';
			}

			$("#container").append($(html));




		}
	</script>
</html>
