<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/mygrxx.css" />
		<script src="js/fun.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fls"><a href="index.html"><img src="img/logo.png"/></a></h1>
					<div class="fh clearfix" id="top1">
						<p class="fl">
							<a href="mygrxx.html" id="login"></a>
							<a href="login.html" id="reg">退出登录</a>
						</p>
						<form>

						</form>
						<div class="btn fl clearfix">
							<a href="mygrxx.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott" style="margin-top: -15px">

					<li><a href="index.html" style="font-weight: bold;font-size: 18px">首页</a></li>
					<li>
						<a  style="font-weight: 500;font-size: 18px">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a href="flowerDer.html?classify=1">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit1.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">餐厅凳椅</dd>
									</dl>
								</a>
								<a href="flowerDer.html?classify=2">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit2.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">卧室储物</dd>
									</dl>
								</a>
								<a href="perfume.html?classify=3">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit3.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">居家软床</dd>
									</dl>
								</a>
								<a href="perfume.html?classify=4">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit4.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">布艺沙发</dd>
									</dl>
								</a>
								<a href="idea.html?classify=5">
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/Tit5.png"/></dt>
										<dd style="font-weight: bold;font-size: 15px;color: #563D7C">装饰边桌</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=1" style="font-weight: 500;font-size: 18px">餐厅凳椅</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_1_1.png"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_2_1.png"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_3_1.png"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/1_4_1.png"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="flowerDer.html?classify=2" style="font-weight: 500;font-size: 18px">卧室储物</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_1_1.PNG"/></dt>
										<dd>当季新品一</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_2_1.PNG"/></dt>
										<dd>当季新品二</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_3_1.PNG"/></dt>
										<dd>当季新品三</dd>
									</dl>
								</a>
								<a>
									<dl>
										<dt><img style="width: auto;height: 150px;" src="img/2_4_1.PNG"/></dt>
										<dd>当季新品四</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a href="perfume.html?classify=3" style="font-weight: 500;font-size: 18px">居家软床</a></li>
					<li><a href="perfume.html?classify=4" style="font-weight: 500;font-size: 18px">布艺沙发</a></li>
					<li><a href="idea.html?classify=5" style="font-weight: 500;font-size: 18px">装饰边桌</a></li>
				</ul>
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="index.html" class="fl" style="font-size: 14px;font-weight: 700">首页</a>
				<span>/</span>
				<a href="mygxin.html" class="fl" style="font-size: 14px;font-weight: 700">账户管理</a>
				<span>/</span>
				<a href="mygxin.html" class="on" style="font-size: 14px;font-weight: 700">修改密码</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img id="img1" style="width: 80px;height: 80px;border-radius:45px" src=""/></a>
						<p class="clearfix"><span class="fl" id="name" style="font-size: 20px;color: #563D7C;float: none;"></span></p>
					</h3>
					<div>
						<h4 style="font-weight: bold;color:#563D7C;font-size: 16px;">我的交易</h4>
						<ul>
							<li><a href="cart.html" style="font-size: 14px;color:#563D7C ">我的购物车</a></li>
							<li><a href="myorderq.html">我的订单</a></li>
							<li><a href="myprod.html">评价晒单</a></li>
						</ul>
						<h4 style="font-weight: bold;color:#563D7C;font-size: 16px;">个人中心</h4>
						<ul>
							<li><a href="mygxin.html">我的中心</a></li>
							<li><a href="address.html">地址管理</a></li>
						</ul>
						<h4 style="font-weight: bold;color:#563D7C;font-size: 16px;">账户管理</h4>
						<ul>
							<li><a href="mygrxx.html" >个人信息</a></li>
							<li><a href="remima.html" style="color:darkseagreen;font-weight: bold;">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<h2 style="font-weight: 600;color: #563D7C;">修改密码</h2>
					<form action="#" method="get" class="remima">
						<!--<p><span>选择验证身份方式：</span><input type="checkbox" />密码验证  <input type="checkbox" />邮箱验证 </p>-->
						<p><span>原密码：</span><input type="text" id="old_password"/></p>
						<p class="op">输入原密码</p>
						<p><span>新密码：</span><input type="text" id="new_password1"/></p>
						<p class="op">6-16 个字符，需使用字母、数字组合，不能使用纯数字、纯字母</p>
						<p><span>重复新密码：</span><input type="text" id="new_password2" /></p>
						<p class="op">请再次输入密码</p>
						<p><span>验证码：</span><input type="text" /><img src="img/temp/code.jpg" alt="" /></p>
						<p class="op">按右图输入验证码，不区分大小写</p>
						<input type="submit" value="提交" id="sub" />
					</form>
				</div>
			</div>
		</div>
		
		<!--返回顶部-->
		<div class="gotop">
			<a href="cart.html">
			<dl>
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">

			<p class="dibu">企鹅家居&copy;2018-2020公司版权所有 京ICP备080100-44备0000111000号<br />
				违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，均属原创，侵权必究！</p>
		</div>
		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/user.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
		<script type="text/javascript" src="https://www.huangwx.cn/js/sweetalert-dev.js"></script>
		<link rel="stylesheet" type="text/css" href="https://www.huangwx.cn/css/sweetalert.css">
	</body>
<script>
    var PasswordTest =/^[a-zA-Z0-9]{6,16}$/;


    var username = getCookie('name');
    var userpassword = getCookie('password');
    var userid = getCookie('id');
    var path = getCookie("img_path");

	var obj = document.getElementById("img1");
	obj.setAttribute("src",path);


    $(function () {
        $("#name").html(username);
    });

	console.log(userpassword+username);

    $(function () {
        $("#sub").click(function () {

            var old = $('#old_password').val();
            var new1 = $('#new_password1').val();
            var new2 = $('#new_password2').val();

            console.log(new1);

            if(old ===""||new1 ===""||new2 ===""){
                swal("输入不能为空！");
                return;
			}
            if(old !== userpassword){
                swal("原密码不正确！");
                return;
            }
			if(!PasswordTest.test(new1) ||!PasswordTest.test(new2)){
                swal("密码输入格式不正确！");
                return;
			}
			if(new1 !== new2){
                swal("两次密码输入不一致！");
                return;
			}
			console.log(new1);
            $.ajax({
                type:"POST",
                contentType:"application/x-www-form-urlencoded",
                url:"http://localhost:8090/user/password",
				data:{

                	'password':new1,
					'user_id':userid

                },
				success:function (data) {
                    alert("密码修改成功！");
                    setCookie('password',new1);
                    console.log(data.data.password);



                },
				error:function (data) {
					swal("密码修改失败!");
					console.log(data);

                }
            })
        })

    })

</script>
</html>
